{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <div class="post-header">
        {{- if .Params.image }}
        <div class="post-image">
            <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
        </div>
        {{- end }}
        <h1>{{ .Title }}</h1>
        {{- if .Description }}
        <div class="post-description">
            {{ .Description }}
        </div>
        {{- end }}
    </div>
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}
